{% extends 'base.html.twig' %}

{% block title %}home!{% endblock %}

{% block body %}


<div class ="container">
   
    {# First section #}
     <section id="slide1" class="row" >
            <div class=" slide-text col-sm-12 col-md-6">
                <h1>Pour construire & améliorer</h1>
                <p class="mb-5">vos compétences techniques</p>
                <div class="slide1-btn">
                    <button type="button" class=" slid1-btn btn btn-lg btn btn-success btn-lg mt-7">
                    <a href="/Blogues.html" class="nav-link" style="color:white">Commencez maintenant</a></b></button>                
                </div>
            </div>
            <div class=" col-sm-12  col-md-6">
                <img src="https://media.istockphoto.com/vectors/office-worker-hand-working-on-laptop-computer-vector-id1307915204?k=20&m=1307915204&s=612x612&w=0&h=7eiQDy7PzmuvgvfSrtzlK2ARKGGbsZrRWOPm5YAfbS8=" alt="image section" >
            </div>
     </section>
</div>
{#  Section 2 #}

    <section class="bg-color" >
        <div class="container">
            <div class="row">
                <div class=" slide-div col-sm-12 col-md-6">
                    <img  src="https://media.istockphoto.com/vectors/office-worker-hand-working-on-laptop-computer-vector-id1307915204?k=20&m=1307915204&s=612x612&w=0&h=7eiQDy7PzmuvgvfSrtzlK2ARKGGbsZrRWOPm5YAfbS8=" alt="image section" >
                </div>
                <div class=" slide-div col-sm-12 col-md-6">
                    <p class="slide-p">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage</p>
                </div>
            </div>
        </div>
    </section>


{# Section 3 #}

<div class ="container">
    <section class="row">             
            <div class=" slide-div  col-sm-12 col-md-6">
                <p class="slide-p">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage</p>
            </div>
            <div class=" slide-div  col-sm-12 col-md-6">
            <img src="https://media.istockphoto.com/vectors/office-worker-hand-working-on-laptop-computer-vector-id1307915204?k=20&m=1307915204&s=612x612&w=0&h=7eiQDy7PzmuvgvfSrtzlK2ARKGGbsZrRWOPm5YAfbS8=" alt="image section" >
            </div>
    </section>
</div>

{# Section Blogs #}


<section id="blogs" class="fu" style="margin-top:50px; margin-bottom: 50px;background-color: #efebf4; border-radius:20px">
    <h3 class="text-center" style="font-size:35px; font-weight:bold;margin: 50px;color:#693199;padding-top:20px">
        Derniers Blogs
    </h3>
    <div id="blog" class="container d-flex flex-sm-column flex-md-row justify-content-between">
    {% for article in latestArticles %}
        <div class="cardb" class="col-sm-12 col-md-4">
        <a  class="nav-link" style="color:black;" href={{ path('blogues_show', {'slug' : article.slug}) }}>
            <img class="rounded" src="{{ article.image }}" alt="Cours" style="width:100% ;height: 250px">
            <h2 class="blog-h">{{ article.title }}</h2>
            <h6 style="color:#a49d9d">{{ article.createdAt | date('Y-m-d') }}</h6>
            <div id="blue"></div>
            </a>
        </div>
    {% endfor %}

    </div>
</section>

{# Section Courses #}
{# <section id="cours1">
      <h3 class="titre-perso container">
      Cours de Formation
      </h3>


		<div class="main-container"><ul class="grid-wrapper">
{% for cours in latestCourss %}
			
				<a href={{ path('cours_show', {'slugC' : cours.slugC}) }}>
                     <li id="card">
                        <div >
                            <img src="{{ cours.imageC }}" alt="Cours" style="width:80%">
                            <h4>{{ cours.titleC }}</h4>
                            <p>{{ cours.descriptionC }}</p>
                        </div>
                    </li>
                  </a>
            
{% endfor %}            
		</ul></div>

</section> #}



{% endblock %}
